.label-search{
    margin-top: 2vh;
    margin-left: 5vh;
    color: white;
}

.search-field {
    margin-left: 5vh;
    display: flex;
    flex-direction: row;
}

.input-field {
    width: 100vh;
}

.button-search{
    margin-left: 8vh;
}